<div class="top_container">
  <header class="header_section">
    <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="index.html">
        <span>
            MiCole
          </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"> Inicio <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"> Acerca de nosotros </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"> Admision </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Por qué nosotros </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
  </header>

  <section class="hero_section">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1>
          La nueva
          plataforma que
          revolucionará tu
          servicio educativo
        </h1>
        <p>
          Optimiza la comunicación entre tu Centro de Estudios,
          Directores, Docentes, Auxiliares y Padres de Familia.
        </p>
        <div class="hero_btn-continer">
          <a href="" class="call_to-btn btn_white-border">
            Leer más...
          </a>
        </div>
      </div>
      <div class="hero_img-container">
        <div>
          <img src="https://i.postimg.cc/BZg8zvNn/hero.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>
<div class="common_style">
<!-- about section -->
<section class="about_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about_img-container">
          <img src="https://i.postimg.cc/d1R7wQYn/about.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="about_detail-box">
          <h3>
            <strong> MiCole</strong>
          </h3>
          <p>
            El sistema MICOLE es un sistema informático que tiene como objetivo
            principal crear una comunicación ACTIVA entre el centro educativo y
            los padres de familia, Es un medio moderno, útil, seguro e intuitivo
            que añade una gran ventaja competitiva al permitir que exista una
            comunicación oportuna en tiempo real.
          </p>
          <div class="">
            <a href="" class="call_to-btn btn_white-border">
              Leer más...
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- end about section -->

<!-- admission section -->
<section class="admission_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="admission_detail-box">
          <h3>
            <strong> Beneficios! </strong>
          </h3>
          <p>
            Con nuestra plataforma podrás estar informado de lo que pasa en tu escuela.
          </p>
              <p>
                <strong>INFORMADOS</strong>
                <br>
                Mantener informado a los padres de familia sobre asistencias, evaluaciones, tareas e incidencias.
              </p>
              <p>
                <strong>EL TIEMPO ES ORO</strong>
                <br>
                Reducir tiempos en el registro y entrega de la información a la alta dirección.
              </p>
              <p>
                <strong>SOPORTE 24/7</strong>
                <br>
                Contamos con una línea corporativa de ayuda 24-7. La calidad de nuestra atención es lo primero para nosotros.
              </p>
          <div class="">
            <a href="" class="call_to-btn btn_white-border">
              Leer más...
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="admission_img-container">
          <img src="https://i.postimg.cc/rsQKRhzr/admission.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>



<!-- end admission section -->

<!-- why section -->
<section class="admission_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="why_img-container">
          <img src="https://i.postimg.cc/ZKnqDxCw/why.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="why_detail-box">
          <h3>
          <strong> Mas beneficios!</strong>
          </h3>
          <p>
            Además, es muy accesible en compoaración de otras opciones y con mayor calidad.
          </p>
              <p>
                <strong>ACCESIBLE</strong>
                <br>
                Información disponible en todo momento y desde un dispositivo móvil.
              </p>
              <p>
                <strong>AHORRA DINERO</strong>
                <br>
                Minimizar costos en formatos y/o cuadernos de control al contar con un registro digitalizado.
              </p>
              <p>
                <strong>DASHBOARD</strong>
                <br>
                Tener completa visibilidad de los indicadores de gestion mediante un Dashboard de control general.
              </p>
          <div class="">
            <a href="" class="call_to-btn btn_white-border">
              Leer más...
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- end why section -->

<!-- determine section -->
<section class="determine_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="determine_detail-box">
          <h3 class="text-center">
            <strong>Mira un video</strong>
          </h3>
          <h3>
            Usuamos GeneXus para crear nuestro sistema
          </h3>
          <p>
            Usamos Genexus, que es una tecnología que nos permite realizar grandes avances.
          </p>
          <div class="">
            <a href="" class="call_to-btn btn_white-border">
              Leer más...
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <youtube-player
          videoId="YiCuPrxghB0"
          suggestedQuality="highres"
          >
        </youtube-player>

      </div>
    </div>
  </div>
</section>


<!-- end determine section -->

</div>

<!-- client section -->

<section class="client_section layout_padding">
<h2 class="">
  Testimonios
</h2>
<p class="text-center">
  Los siguientes testimonios son de personas que se han beneficiado del uso de la plataforma MiCole.
</p>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="row">
                  <div class="col-md-3">
                    <div class="client_img-box">
                      <img src="https://i.postimg.cc/0j8zQg5v/client.png" alt="">
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="client_detail-box">
                      <h5>
                        <strong>Yanela Huayhua</strong>
                      </h5>
                      <h5>
                        Directora de C.E. JMA
                      </h5>
                      <p>
                        MiCole es impresionante , desde que lo implementamos en nuestro colegio los padres están muy contentos.
                      </p>
                    </div>
                  </div>
                </div>
          </div>
<!--
          <div class="carousel-item">
              <div class="row">
                  <div class="col-md-3">
                    <div class="client_img-box">
                      <img src="https://i.postimg.cc/0j8zQg5v/client.png" alt="">
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="client_detail-box">
                      <h5>
                        Alex Du
                      </h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      </p>
                    </div>
                  </div>
                </div>
          </div>
          <div class="carousel-item">
              <div class="row">
                  <div class="col-md-3">
                    <div class="client_img-box">
                      <img src="https://i.postimg.cc/0j8zQg5v/client.png" alt="">
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="client_detail-box">
                      <h5>
                        Alex Du
                      </h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      </p>
                    </div>
                  </div>
                </div>
          </div> -->

        </div>
      </div>

</div>
</section>

<!-- end client section -->

<!-- contact section -->

<section class="contact_section ">

    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-center d-md-block">
            <h2>
              Contactanos
            </h2>
          </div>
          <form action="">
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text" placeholder="Nombre">
                </div>
                <div>
                  <input type="email" placeholder="Email">
                </div>
                <div>
                  <input type="text" placeholder="Nro. Celular">
                </div>
                <div class="mt-5">
                  <input type="text" placeholder="Mensaje">
                </div>
                <div class="mt-5">
                  <button type="submit">
                    Enviar
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="https://i.postimg.cc/gjS22nBy/students.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
</section>

<!-- end contact section -->

<section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>
          MiCole
      </h2>
    </div>
      <div class="container layout_padding2">
        <div class="row">
          <div class="col-md-4">
            <h5>
                Acerca de nosotros
            </h5>
          <p>
              Texto sobre 3GTech
          </p>
          </div>
          <div class="col-md-3">
            <h5>
                Enlaces útil
            </h5>
            <ul>
              <li>
                <a href="">
                    Videos de MiCole
                </a>
              </li>
              <!-- <li>
              <a href="">
                  Remote control
              </a>
              </li>
              <li>
                <a href="">
                    3d controller
                </a>
              </li> -->
            </ul>
          </div>
          <!-- <div class="col-md-3">
            <h5>
                Contact Us
            </h5>
            <p>
                dolor sit amet, consectetur magna aliqua. quisdotempor incididunt ut e
            </p>
          </div> -->
          <!-- <div class="col-md-3">

            <div class="subscribe_container">
              <h5>
                  Newsletter
              </h5>
              <div class="form_container">
                <form action="">
                  <input type="email" placeholder="Ingresa tu email">
                  <button type="submit">
                    Subscribe
                  </button>
                </form>
              </div>
            </div>

          </div> -->
        </div>
      </div>
      <div class="container">
          <div class="social_container">

              <div class="social-box">
                <a href="">
                  <img src="https://i.postimg.cc/rpr0ZCZB/fb.png" alt="">
                </a>

                <a href="">
                  <img src="https://i.postimg.cc/90Ff2G1F/twitter.png" alt="">
                </a>
                <a href="">
                  <img src="https://i.postimg.cc/MK3nWrCk/linkedin.png" alt="">
                </a>
                <a href="">
                  <img src="https://i.postimg.cc/QtZB29RH/instagram.png" alt="">
                </a>
              </div>
            </div>
      </div>
</section>

<!-- footer section -->

<section class="container-fluid footer_section">
<p>
  Copyright &copy; 2019 All Rights Reserved By
  <a href="https://html.design/">3GTech</a>
</p>
</section>

<!-- footer section -->

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
